__pycache__/
*.py[cod]
*.spec

bin/
build/
dist/
downloads/
*.zip

BilibiliDownloader-crash.log
BilibiliDownloader-startup.log
settings.json
settings.tmp
cookies.txt
*.cookies.txt

artifacts/*
!artifacts/single-window-main.png

.venv/
venv/
.idea/
.vscode/
